{{#with view.content}}
<div {{bindAttr class=":message-row isCurrentUser:message-row-right:message-row-left"}}>
    <div class="message-row-inner">
        {{#if isCurrentUser}}
            <img class="bubble-avatar" {{bindAttr src="Theses.accountManager.currentAccount.user.avatar_thumb"}}/>
        {{else}}
            <img class="bubble-avatar" {{bindAttr src="Theses.messageController.selectedConversation.with_user.avatar_thumb"}}/>
        {{/if}}                   
        <div class="bubble">
            {{content}}
        </div>

    </div>
    <div {{bindAttr class="failed:failed:time"}}>
        {{#if failed}}
            发送失败，双击以重新发送
        {{else}}
            {{dateString}}
        {{/if}}
    </div>
</div>
{{/with}}