<div id="panel-overlay" class="overlay unactive" style="display:none">
    <div class="cover">
        <div class="yield">
            {{outlet panel}}
        </div> 
    </div>
</div>

{{#with Theses.confirmationManager}}
<div id="confirm-overlay" {{bindAttr class=":overlay hasRequest:active:hide"}}>
    <div class="cover">
        <div id="confirmation-container" class="yield">
            {{#if currentRequest}}
                <div class="confirm-window-wrapper">
                 <div class="confirm-window">
                     <div class="confirm-wrapper">
                         <h4 class="confirm-title">{{currentRequest.title}}</h4>
                         <p class="confirm-description">{{currentRequest.description}}</p>
                         <section class="confirm-buttons">
                             <button class="btn" {{action cancelCurrentRequest target="Theses.confirmationManager"}}>取消</button>
                             <button class="btn btn-primary pull-right" {{action confirmCurrentRequest target="Theses.confirmationManager"}}>确定</button>
                         </section>
                     </div>
                 </div>
             </div>
            {{/if}}
        </div>
    </div>
</div>
{{/with}}

<header id="main-header">
    <div id="header">
        <h1><a href="#">Theses 论文管理</a></h1>	
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom">主页</a>
            {{#each navItems}}
                <a href="#" {{bindAttr class="current"}} {{action navItemPressed this href=true}}>
                    {{title}}
                </a>
            {{/each}}
        </div>
        {{outlet navbar}}	
    </div>
</header>
<section id="main-content">
    {{outlet sidebar}}      
    <div id="content">
        <div id="content-container" class="container-fluid">
            {{outlet content}}
        </div>
<!--
        <div id="message-panel">
            <header class="navigation-bar">
                <button class="btn btn-link" href="#">
                    <i class="icon-chevron-left"></i>
                </button>
                <h4>bobo</h4>
                
            </header>
            <div class="message-content-wrapper">
                <div class="message-content">
                    <div class="message-time">
                        03-17 17:32
                    </div>
                    <div class="message-row message-row-left">
                        <img class="bubble-avatar" src="http://lwapi-picmin.stor.sinaapp.com/user_1_27.jpg" />
                        <div class="bubble">
                            在吗？
                        </div>
                    </div>

                    <div class="message-row message-row-right">
                        <img class="bubble-avatar" src="https://trello-avatars.s3.amazonaws.com/816dea068ffaff64dd56ca0ae4cd4182/30.png" />
                        <div class="bubble bubble-left">
                            在
                        </div>
                    </div>

                    <div class="message-row message-row-left">
                        <img class="bubble-avatar" src="http://lwapi-picmin.stor.sinaapp.com/user_1_27.jpg" />
                        <div class="bubble">
                            发送邮件通知的接口做好了，文档更新到了Gist上
                        </div>
                    </div>

                    <div class="message-row message-row-right">
                        <img class="bubble-avatar" src="https://trello-avatars.s3.amazonaws.com/816dea068ffaff64dd56ca0ae4cd4182/30.png" />
                        <div class="bubble bubble-left">
                            好的
                        </div>
                    </div>


                    <div class="message-time">
                        03-17 20:13
                    </div>
                    <div class="message-row message-row-right">
                        <img class="bubble-avatar" src="https://trello-avatars.s3.amazonaws.com/816dea068ffaff64dd56ca0ae4cd4182/30.png" />
                        <div class="bubble bubble-left">
                            那个文档上传的接口有问题
                        </div>
                    </div>
                    <div class="message-row message-row-right">
                        <img class="bubble-avatar" src="https://trello-avatars.s3.amazonaws.com/816dea068ffaff64dd56ca0ae4cd4182/30.png" />
                        <div class="bubble bubble-left">
                            好像读不了上传文件的文件名
                        </div>
                    </div>

                    <div class="message-row message-row-left">
                        <img class="bubble-avatar" src="http://lwapi-picmin.stor.sinaapp.com/user_1_27.jpg" />
                        <div class="bubble">
                            好，我去看看
                        </div>
                    </div>
                </div>
                <div class="message-input-wrapper">
                    <input type="text" />
                    <button class="btn btn-primary btn-mini">发送</button>
                </div>
            </div>
        </div>
    </div>
-->
    {{outlet upload}}
     <div id="sidebar-copyright" class="desktop">
        Design, Dev by <a href="http://weibo.com/naituw">@Naituw</a> , <a href="http://weibo.com/jiayoushuishou">@bo潮</a><br/>
        Copyright NFSYSU
    </div>
</section>

