<div id="panel-overlay" class="overlay unactive" style="display:none">
    <div class="cover">
        <div class="yield">
            {{outlet panel}}
        </div> 
    </div>
</div>

{{#with Theses.confirmationManager}}
<div id="confirm-overlay" {{bindAttr class=":overlay hasRequest:active:hide"}}>
    <div class="cover">
        <div id="confirmation-container" class="yield">
            {{#if currentRequest}}
                <div class="confirm-window-wrapper">
                 <div class="confirm-window">
                     <div class="confirm-wrapper">
                         <h4 class="confirm-title">{{currentRequest.title}}</h4>
                         <p class="confirm-description">{{currentRequest.description}}</p>
                         <section class="confirm-buttons">
                             <button class="btn" {{action cancelCurrentRequest target="Theses.confirmationManager"}}>取消</button>
                             <button class="btn btn-primary pull-right" {{action confirmCurrentRequest target="Theses.confirmationManager"}}>确定</button>
                         </section>
                     </div>
                 </div>
             </div>
            {{/if}}
        </div>
    </div>
</div>
{{/with}}

<header id="main-header">
    <div id="header">
        <h1><a href="#">Theses 论文管理</a></h1>	
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom">主页</a>
            {{#each navItems}}
                <a href="#" {{bindAttr class="current"}} {{action navItemPressed this href=true}}>
                    {{title}}
                </a>
            {{/each}}
        </div>
        {{outlet navbar}}	
    </div>
</header>
<section id="main-content" {{bindAttr class="modal-enabled"}}>
    {{outlet sidebar}}      
    <div id="content">
        <div id="content-container" class="container-fluid">
            {{outlet content}}
        </div>
    </div>
    {{outlet message}}
    {{outlet document}}
    {{outlet upload}}
     <div id="sidebar-copyright" class="desktop">
        Design, Dev by <a href="http://weibo.com/naituw">@Naituw</a> , <a href="http://weibo.com/jiayoushuishou">@bo潮</a><br/>
        Copyright NFSYSU
    </div>
</section>

