{{#if opened}}
<div {{bindAttr class=":overlay active:active:unactive"}} class="overlay active">
    <div class="cover">

    <div id="message-panel"> 
        <div id="message-left">
            <header class="navigation-bar">
                <button id="new-message-button" type="button" class="btn" {{action newConversationButtonPressed}}>
                    <i class="message-compose-icon"></i>
                </button>
            </header>
            <div id="conversations">
                {{#with Theses.messagesManager}}
                    {{#each conversations}}
                        {{view Theses.ConversationRow conversation=this}}
                    {{/each}}
                    {{#if loadingMoreConversations}}
                        <div class="more-conversations">
                            {{view Theses.LoadingView}}
                        </div>
                    {{/if}}
                    {{#if ../showsLoadMoreButton}}
                        <div class="more-conversations">
                            <a class="load-more-button" {{action loadMoreConversations}}>加载更多</a>
                        </div>
                    {{/if}}
                {{/with}}
            </div>
        </div>
        <div id="message-right">
            <header class="navigation-bar">
                {{#if selectedConversation}}
                    <img class="message-current-avatar" {{bindAttr src="selectedConversation.with_user.avatar_thumb"}}>
                    <div class="message-current-info">
                        {{selectedConversation.with_user.screenname}} / {{selectedConversation.with_user.username}}
                    </div>
                {{/if}}
                <a class="close" id="message-panel-close" href="#" {{action close href="true"}}>&times;</a>
            </header>
            {{#if newConversationMode}}
                <div id="new-conversation">
                    <div class="new-conversation-tip">
                        新对话
                    </div>
                    <div class="new-conversation-target">
                        {{#if pendingNewConversation}}
                            {{view Theses.LoadingView}}
                        {{else}}
                            <form>
                                {{view Ember.TextField placeholder="对方的用户名" valueBinding="newConversationTarget"}}
                                <button class="btn btn-primary" {{bindAttr disabled="newConversationStartButtonDisabled"}} {{action newConversationStart}} type="submit">开始</button>
                            </form>
                        {{/if}}
                    </div>
                </div>
            {{else}}
                {{#if selectedConversation}}
                    <div class="message-content-wrapper">
                        <div class="message-content" id="message-content">
                            {{#each selectedMessages}}
                                {{view Theses.MessageRow content=this}}
                            {{/each}}
                        </div>
                        <div class="message-input-wrapper">
                            <div class="line-separator"></div>
                            <form>
                                {{view Ember.TextField valueBinding="currentInputMessageContent"}}
                                <button class="btn btn-primary btn-mini" type="submit" {{action postButtonPressed}}>发送</button>
                            </form>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </div>

        </div>
    </div>
</div>
{{/if}}