    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li id="user-nav-profile" >
            	<a href="#" {{action profile href=true}}>
            		<div class="avatar"><img {{bindAttr src="currentAccount.user.avatarThumbURL"}}/></div>
            		<span class="text">{{currentAccount.user.screenname}}</span>
            	</a>
            </li>
            <li class="dropdown" id="menu-messages">
            	<a href="#" {{action message href=true}}>
            		<i class="icon icon-envelope"></i> 
            		<span class="text">消息</span> 
            		<span {{bindAttr class=":label Theses.unreadManager.unreadCount:label-important:label-mute"}}>{{Theses.unreadManager.unreadCount}}</span> 
            	</a>
            </li>
            <li>
            	<a title="" href="#"  {{action settings href=true}}>
            		<i class="icon icon-cog"></i> 
            		<span class="text">设置</span>
            	</a>
            </li>
            <li>
            	<a href="#" {{action signout href=true}}>
            		<i class="icon icon-share-alt"></i> 
            		<span class="text">登出</span>
            	</a>
            </li>
        </ul>
    </div>