<div id="sidebar">
    <div id="sidebar-profile" class="desktop">
        <div class='avatar'>
            <img {{bindAttr src="currentUser.avatarURL"}}/>
        </div>
        <label id="sidebar-profile-details">
            {{currentUser.username}} / {{currentUser.levelType}}
        </label>
    </div>
    <a href="#" class="visible-phone">
        {{Theses.mainController.currentNavTitle}}
    </a>
    <ul>
        {{#each items}}
        <li {{bindAttr class="submenu active"}}>
            <a {{bindAttr data-action="action"}} {{action itemPressed this href=true}}>
                {{icon iconName}}
                <span>{{title}}</span>
                {{#if unread}}
                <span class="label">{{unread}}</span>
                {{/if}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>