  <form novalidate="" autocomplete="on" class="update-profile"> 
                        <div class="yield" style="padding-top:20px">
                            <fieldset class='reset-password'>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>论文题目：</label>
                                    </div>
                                    <div class="controls">
                                        {{view Ember.TextField valueBinding="title"}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>可选人数：</label>
                                    </div>
                                    <div class="controls">
                                        {{view Ember.Select contentBinding="available_student_nums" valueBinding="student_num"}}
                                    </div>
                                </div>

                                <div class="control-group">
                                    <div class="control-label">
                                        <label>可选专业：</label>
                                    </div>
                                    <div class="controls">
                                        {{view Ember.Select contentBinding="available_majors" optionValuePath="content.majorid" optionLabelPath="content.name" selectionBinding="majors" multiple=true}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>描述：</label>
                                    </div>
                                    <div class="controls">
                                        {{view Ember.TextArea valueBinding="description"}}
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>要求：</label>
                                    </div>
                                    <div class="controls">
                                         {{view Ember.TextArea valueBinding="requirements"}}
                                    </div>
                                </div>
                            </fieldset>
                        </div> 
                        <footer> 
                            <button type="submit" class="blue submit" {{action submit href=true}}>
                                <span>创建论题</span>
                            </button> 
                        </footer> 
                    </form>