                    
                    <form>
                        <input class="upload-avatar hidden-input" type="file" name="avatar">
                    </form>
                    <form novalidate="" autocomplete="on" class="update-profile"> 
                        <div class="profile-basic-info">
                            <div class="avatar">
                                <a class="avatar-hover" {{action updateAvatar target="view"}}>更换头像</a>
                                <img {{bindAttr src="currentUser.avatarURL"}} width="100" height="100" />
                            </div>
                            <div class="info">
                                <label>{{currentUser.username}}</label>
                                <label>{{currentUser.levelType}}</label>
                                <label>{{currentUser.majorInfo.name}}</label>
                                <label>{{currentUser.departmentInfo.name}}</label>
                            </div>
                        </div>
                        <div class="yield">
                            <fieldset>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>姓名：</label>
                                    </div>
                                    <div class="controls">
                                        <input type="text" placeholder="请输入姓名…" name='name' {{bindAttr value="currentUser.screenname"}}>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>性别：</label>
                                    </div>
                                    <div class="controls">
                                        <select name='gender'>
                                            <option value="0">保密</option> 
                                            <option value="1">男</option> 
                                            <option value="2">女</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="control-label">
                                        <label>邮箱：</label>  
                                    </div>
                                    <div class="controls">
                                        {{view Theses.NameTextField placeholder="请输入电子邮箱…" name="email" valueBinding="email"}}
                                    </div>
                                </div>
                                {{#if showsEmailVerificationInfo}}
                                <div class="control-group">
                                    <div class="control-label">
                                        <label></label>
                                    </div>
                                    <div class="controls email-verification-info">
                                        {{#if currentUser.email_verified}}
                                            <span class="text-success">邮箱已通过验证</span>
                                        {{else}}
                                            {{#if currentUser.verifyEmailSended}}
                                                <span class="text-info">验证邮件已发送</span>
                                                {{#if showsResendEmailButton}}
                                                    <button class="btn btn-mini" {{action reverify}}>重新发送</button>
                                                {{/if}}
                                            {{else}}
                                                <span class="text-error">尚未验证此邮箱</span>
                                                <button class="btn btn-mini btn-primary" {{action reverify}}>发送验证邮件</button>
                                            {{/if}}
                                        {{/if}}
                                    </div>
                                </div>
                                {{/if}}
                            </fieldset>
                        </div> 
                        <footer> 
                            <button type="submit" class="blue submit" {{action submit target="view" href=true}}>
                                <span>提交</span>
                            </button> 
                        </footer> 
                    </form>