{{#if showsMilestonesView}}
	{{#unless loadingMilestones}}
	<div class="row-fluid">
		<div class="span12">
			{{#if currentStone}}
			<div class="alert alert-success no-margin"> 
				论文流程已在进行中，当前阶段为：<b>{{currentStone.tip}}</b>
			</div>
			{{else}}
			<div class="alert alert-warning no-margin"> 
				目前论文流程还未开始。
			</div>
			{{/if}}
		</div>
	</div>
	{{/unless}}
{{/if}}

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-bullhorn"></i></span>
				<h5>通知</h5>
				<div class="buttons">
					{{#if canPostNotice}}
					<a href="#" {{action newNoticeButtonPressed href=true}} class="btn btn-mini">
						<i class="icon-plus"></i> 发布
					</a>
					{{/if}}
					<a href="#" {{action reloadNoticeButtonPressed href=true}} class="btn btn-mini">
						<i class="icon-refresh"></i> 刷新
					</a>
				</div>
			</div>
			<div class="widget-content nopadding">
				{{#if loadingNotices}}
					{{view Theses.LoadingView}}
				{{else}}
					{{#if notices.length}}
						<div class="review-title-list">
							{{#each notices}}
								{{view Theses.NoticeRowView notice=this}}
							{{/each}}
						</div>
					{{else}}
						{{view Theses.PromptView text="暂无数据，点击刷新来重新获取通知列表"}}
					{{/if}}
					{{view Theses.PagingView pageBinding="currentNoticePage" hasNextBinding="hasMoreNotices"}}
				{{/if}}
			</div>
		</div>
	</div>
</div>

{{#if showsMilestonesView}}
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-time"></i></span>
				<h5>流程时间表</h5>
				{{#if canOperation}}
				<div class="buttons">
					<a href="#" {{bindAttr class="submitTimesButtonClass"}} {{action submitTimesPressed target="view" href=true}}>
						<i class="icon-refresh"></i> 提交并刷新
					</a>
				</div>
				{{/if}}
			</div>
			<div class="widget-content">
				{{#if loadingMilestones}}
					{{view Theses.LoadingView}}
				{{else}}
				<table class="table table-bordered table-hover table-striped">
					<tr>
						<th>项目</th><th>时间</th>
					</tr>
					{{#each milestones}}
						{{#if canView}}
						<tr {{bindAttr class="isCurrent:success"}}>
							<td>{{desc}}</td>
							<td>
								{{#if canOperate}}
								<form class="form-inline">
								<div class="input-append date datepicker" {{bindAttr data-date="formatedTime"}}  data-date-format="yyyy-mm-dd">
  									<input {{bindAttr name="name"}} readonly type="text" {{bindAttr value="formatedTime"}}>
  									<span class="add-on"><i class="icon-th"></i></span>
								</div>
								<a class="btn" {{action clearTime this target="view"}}>重置</a>
								</form>
								{{else}}
								{{displayTime}}
								{{/if}}
							</td>
						</tr>
						{{/if}}
					{{/each}}
				</table>
				{{/if}}
			</div>
		</div>
	</div>
</div>
{{/if}}