{{#if content.loading}}
{{view Theses.LoadingView}}
{{else}}
  {{#if content.loadingFailed}}
  	{{view Theses.PromptView text="论题加载失败，请尝试返回重新获取"}}
  {{else}}


<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-folder-open"></i></span>
				<h5>论题信息</h5>
				
			</div>
			<div class="widget-content">
				<table class="table table-bordered">
					<tr>
						<td><strong>标题</strong></td>
						<td>{{content.title}}</td>
					</tr>
					<tr>
						<td><strong>指导教师</strong></td>
						<td>{{teacherName}}</td>
					</tr>
					<tr>
						<td><strong>系别</strong></td>
						<td>{{content.departmentName}}</td>
					</tr>
					<tr>
						<td><strong>状态</strong></td>
						<td>{{content.stateName}}</td>
					</tr>
					<tr>
						<td><strong>可选专业</strong></td>
						<td>{{avaliableMajors}}</td>
					</tr>
					<tr>
						<td><strong>说明</strong></td>
						<td>{{content.description}}</td>
					</tr>
					<tr>
						<td><strong>要求</strong></td>
						<td>{{content.require_info}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

{{#if showsReviewTip}}
<div class="alert alert-info" style="margin-bottom:0;">
  现在是论文评分时间，点击一个选题学生开始评分
</div>
{{/if}}

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-user"></i></span>
				<h5>相关用户</h5>
				<div class="buttons">
					<a href="#" class="btn btn-mini" {{action refreshUsers href=true}}>
						<i class="icon-refresh"></i> 刷新
					</a>
				</div>
			</div>
			<div class="widget-content">
				{{#if loadingUsers}}
					{{view Theses.LoadingView}}
				{{else}}
					{{#if teacher}}
					<div class="related-users">
						<div class="related-teacher">
							<h5>导师</h5>
							{{view Theses.UserCell user=teacher}}	
						</div>
						<div class="related-students">
							<h5>选题学生</h5>
							{{#each students}}
								{{view Theses.UserSelectionCell user=this.user selection=this.selection clickAction=../studentClicked}}
							{{else}}
								{{view Theses.PromptView text="暂时没有学生选择此论题"}}
							{{/each}}
						</div>
					</div>
					{{else}}
						{{view Theses.PromptView text="暂无数据，您可能没有权限查看此信息"}}
					{{/if}}
				{{/if}}
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-file"></i></span>
				<h5>文档列表</h5>
				<div class="buttons">
					<a href="#" class="btn btn-mini" {{action refreshDocuments href=true}}>
						<i class="icon-refresh"></i> 刷新
					</a>
					{{#if canUploadDocument}}
						<input id="upload-document-input" class="hidden-input" type="file" name="upload">

						<a href="#" class="desktop btn btn-mini" {{action uploadButtonPressed target="view"}}>
							<i class="icon-upload"></i> 上传新文档
						</a>
					{{/if}}
				</div>
			</div>
			<div class="widget-content nopadding">
				{{#if loadingDocuments}}
					{{view Theses.LoadingView}}
				{{else}}
					{{#if documents.length}}
						{{#each documents}}
							{{view Theses.DocumentCell doc=this}}
						{{/each}}
					{{else}}
						{{view Theses.PromptView text="暂无数据，请点击刷新重新获取"}}
					{{/if}}
				{{/if}}
				{{view Theses.PagingView pageBinding="currentDocPage" hasNextBinding="hasMoreDocuments"}}
			</div>
		</div>
	</div>
</div>

  {{/if}}
{{/if}}