<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="icon-user"></i></span>
				<h5>用户管理</h5>
				<div class="buttons">
					{{#if canCreateUser}}
					<a href="#" class="btn btn-mini" {{action addUser href=true}}>
						<i class="icon-plus"></i> 添加
					</a>
					{{/if}}
				</div>
			</div>
			<div class="widget-content nopadding">
				{{#if Theses.majorsManager.loading}}
				{{view Theses.LoadingView}}
				{{else}}
				<div class="search-fields">
					<form class="form-inline">
						<div class="row-fluid">
							<div class="span3">
								{{view Theses.Select 
								contentBinding="departments"
								optionValuePath="content.deptid"
								optionLabelPath="content.name"
								valueBinding="selectedDeptID"}}
							</div>
							<div class="span3">
								{{view Theses.Select 
								contentBinding="majors"
								optionValuePath="content.majorid"
								optionLabelPath="content.fullName"
								valueBinding="selectedMajorID"}}
							</div>
							<div class="span4">
								{{view Theses.Select 
								contentBinding="levels"
								optionValuePath="content.level"
								optionLabelPath="content.name"
								valueBinding="selectedLevel"}}
							</div>
							<div class="span2">
								<a href="#" class="btn btn-primary span12" {{action search href=true}}>查询</a>
							</div>
						</div>
					</form>
				</div>
				<table class="table table-bordered table-hover table-striped table-centered user-table">
					<tr><th style="width:50px">头像</th><th>用户名</th><th>名称</th><th>性别</th><th>用户类型</th></tr>
					{{#if loadingUsers}}
					<tr><td colspan="8">{{view Theses.LoadingView}}</td></tr>
					{{else}}
						{{#if users.length}}
							{{#each users}}
							<tr {{action userClicked target="view" href=true}} class="clickable">
								<td>{{view Theses.MessageAvatarView user=this class="user-table-avatar"}}</td>
								<td>{{username}}</td><td>{{screenname}}</td>
								<td>{{genderString}}</td>
								<td>{{levelType}}</td>
							</tr>
							{{/each}}
						{{else}}
							<tr><td colspan="8"><div class="no-result">无结果</div></td></tr>
						{{/if}}
					{{/if}}
				</table>
				<div class="search-fields paging page-controls">
					<a {{bindAttr class="prevPageClass"}} {{action prevPage href=true}}>上一页</a>
					第 {{currentPage}} 页
					<a {{bindAttr class="nextPageClass"}} {{action nextPage href=true}}>下一页</a>
				</div>
				{{/if}}
			</div>
		</div>
	</div>
</div>

{{#if canManageTeachers}}
<div class="section-header">
	<h3>出题教师管理<h3>
</div>
<div class="row-fluid">
	<div class="span12">
		<div class="widget-box">
			<div class="widget-title">
				<ul class="nav nav-tabs">
				  	<li {{bindAttr class="showingAllTeachers:active"}}>
				  	  	<a href="#" {{action showAllTeachers}}>全部教师</a>
				  	</li>
				  	<li {{bindAttr class="showingSeniorTeachers:active"}}>
				  		<a href="#" {{action showSeniorTeachers}}>出题教师</a></li>
				  	<li {{bindAttr class="showingNormalTeachers:active"}}>
				  		<a href="#" {{action showNormalTeachers}}>非出题教师</a></li>
				</ul>
			</div>
			<div class="widget-content nopadding">
				
					{{#if showingTeachers}}
						{{#if loadingTeachers}}
							{{view Theses.LoadingView}}
						{{else}}
							<div class="custom-list">
								{{#if hasTeachers}}
									{{#each teachers}}
										{{view Theses.TeacherCell teacher=this}}
									{{/each}}
								{{else}}
									{{view Theses.PromptView text="无结果"}}
								{{/if}}
							</div>
							{{view Theses.PagingView pageBinding="_currentTeacherPage" hasNextBinding="hasMoreTeachers"}}
						{{/if}}
					{{else}}
						{{view Theses.PromptView text="选择上方的教师种类，以开始管理教师出题资格"}}
					{{/if}}
			</div>
		</div>
	</div>
</div>
{{/if}}